<div class="under-mv layer p_about">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" alt="">
    </picture>
  </div>
  <div class="mv-ttl">
    <p class="big-ttl">ABOUT <br class="u-sp">STEAK HAN’S</p>
    <h1>ステーキHAN’Sのこだわり</h1>
  </div>
  <div class="ashirai img-box"><img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/ashirai_cardboard07.png" alt=""></div>
</div><!-- /.under-mv -->

<section class="p-about_wrap01 layer">
  <div class="inner">
    <h2>
      旨い・安い・デカい！<br>
      ボリューム満点の高級肉を<br class="u-sp">リーズナブルに!
    </h2>
    <p>
      沖縄県内にて店舗展開するジャンボステーキHAN'Sグループ。<br>
      地元民、観光客、県内外問わず愛されるステーキ屋が、<br>
      お店はもちろん、オンラインストアを通じて全国各地に自慢のお肉をお届けします。
    </p>
    <p>
      ギフトに、お取り寄せに。<br>
      ステーキのプロが厳選するとっておきのお肉をお楽しみください！
    </p>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap01 -->

<section class="p-about_wrap02 layer">
  <div class="inner">

    <div class="block meat fade_triger">
      <div class="ttl-wrap"><p class="big-ttl">HEARTY MEAT</p></div>
      <div class="flex">
        <div class="head-ttl">
          <p class="sub-ttl anime-ttl01">FEATURE 01</p>
          <h3>ボリューム満点のお肉</h3>
        </div>
        <p class="txt">
          ステーキHAN’Sといえばボリューム満点のお肉！<br>
          ジュワッと広がる肉汁と旨みは、一度食べたら病みつきになること間違いなしです。<br>
          贅沢にガッツリいくのもよし、ご家族、カップル、仲間でのシェアにもぴったりです！
        </p>
        <div class="img-box obj-fit"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img02-1.png" alt=""></div>
        <div class="img-box obj-fit rotate01"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img02-2.png" alt=""></div>
        <div class="img-box obj-fit rotate02"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img02-3.png" alt=""></div>
      </div><!-- /.flex -->
    </div><!-- /.block -->

    <div class="block steak fade_triger">
      <div class="ttl-wrap"><p class="big-ttl">HAMBURG  STEAK</p></div>
      <div class="flex reverce">
        <div class="head-ttl">
          <p class="sub-ttl anime-ttl01">FEATURE 02</p>
          <h3>ステーキだけじゃない</h3>
        </div>
        <p class="txt">
          ステーキHAN’Sでは、ステーキだけではなくハンバーグもお楽しみいただけます！<br>
          HAN'Sのハンバーグは手ごねで丁寧に肉汁を閉じ込めてるからナイフを入れた時にあふれる肉汁がたまりません！<br>
          お子様でも楽しめるぐらい柔らかい食感ですがしっかり満足感もあります！
        </p>
        <div class="img-box obj-fit"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img03-1.png" alt=""></div>
        <div class="img-box obj-fit rotate01"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img03-2.png" alt=""></div>
        <div class="img-box obj-fit rotate02"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img03-3.png" alt=""></div>
      </div><!-- /.flex -->
    </div><!-- /.block -->

    <div class="block value fade_triger">
      <div class="ttl-wrap"><p class="big-ttl">GOOD VALUE</p></div>
      <div class="flex">
        <div class="head-ttl">
          <p class="sub-ttl anime-ttl01">FEATURE 03</p>
          <h3>上質なお肉を<br class="u-pc">手頃な価格で</h3>
        </div>
        <p class="txt">
          最高のお肉を、手頃な価格で楽しんで欲しい。<br>
          ステーキHAN’Sはそんな想いで、ステーキ文化の色濃い沖縄で上質なお肉を提供してきました。<br>
          長年培ってきた独自の仕入れルートで厳選したお肉を、ぜひお楽しみください！
        </p>
        <div class="img-box obj-fit"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img04-1.png" alt=""></div>
        <div class="img-box obj-fit rotate01"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img04-2.png" alt=""></div>
        <div class="img-box obj-fit rotate02"><img class="anime-fade" src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/p-about_img04-3.png" alt=""></div>
      </div><!-- /.flex -->
    </div><!-- /.block -->

  </div><!-- /.inner -->
</section><!-- /.p-about_wrap02 -->

<div class="under-common_wrap layer">

  <div class="block howto">
    <div class="inner">
      <div class="head-ttl">
        <p class="sub-ttl anime-ttl01">HOW TO</p>
        <h2>お肉の美味しい焼き方</h2>
      </div>
      <div class="btn-wrap">
        <a href="/pages/howto/" class="btn01">VIEW DETAIL</a>
      </div>
    </div><!-- /.inner -->
  </div><!-- /.block -->

  <div class="block lineup">
    <div class="inner">
      <div class="head-ttl">
        <p class="sub-ttl anime-ttl01">LINE UP</p>
        <h2>全ての商品を見る</h2>
      </div>
      <div class="btn-wrap">
        <a href="/collections/all/" class="btn01">VIEW ALL</a>
      </div>
    </div><!-- /.inner -->
  </div><!-- /.block -->

</div><!-- /.under-common_wrap -->