<div class="under-mv">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" alt="">
    </picture>
  </div>
  <div class="mv-ttl">
    <p class="big-ttl">COMPANY</p>
    <h1>会社概要</h1>
  </div>
</div><!-- /.under-mv -->

<section class="p-company_wrap01 layer">
  <div class="inner">

    <table>
      <tr>
        <th>会社名</th>
        <td>株式会社ステージングアップ沖縄</td>
      </tr>
      <tr>
        <th>代表者名</th>
        <td>仲本 貴博</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>2007年6月12日</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>8,900,000円</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>レストラン事業</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒900-0031<br>沖縄県那覇市若狭2丁目14番12号</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          098-917-5070
        </td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-917-6210</td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td>平日：11：00～18：00</td>
      </tr>
      <tr>
        <th>定休日</th>
        <td>土日・祝祭日</td>
      </tr>
    </table>

  </div><!-- /.inner -->
</section><!-- /.p-company_wrap01 -->