<div class="under-mv">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" alt="">
    </picture>
  </div>
  <div class="mv-ttl">
    <p class="big-ttl">HOW TO</p>
    <h1>お肉の美味しい焼き方</h1>
  </div>
</div><!-- /.under-mv -->

<section class="p-howto_wrap01 layer">
  <div class="inner">

    <p class="message">
      ステーキの焼き方は難しい？<br>
      そんなことはありません。<br>
      沖縄のステーキのプロが教える、美味しい焼き方をご紹介！<br>
      5ステップで簡単にご家庭で美味しいステーキが食べられる！
    </p>

    <div class="contents flex">

      <div class="howto-contents">

        <div class="block s01 fadeIn">
          <div class="flex">
            <div class="left">
              <p class="sub-ttl">STEP 01</p>
              <h3>お肉の解凍</h3>
              <p class="txt">
                お肉が届いたら冷蔵庫で解凍する(レンジは基本NG)<br>
                どうしても急ぎの場合は流水解凍(お肉全体が浸かる容器に水を入れて解凍)
              </p>
            </div><!-- /.left -->
            <div class="right">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/how-to_img01.png" alt=""></div>
            </div><!-- /.right -->
          </div>
          <div class="bar"><span class="active"></span><span></span><span></span><span></span><span></span></div>
        </div><!-- .block -->

        <div class="block s02 fadeIn">
          <div class="flex">
            <div class="left">
              <p class="sub-ttl">STEP 02</p>
              <h3>カット、味付け</h3>
              <p class="txt">
                食べやすい大きさにカットし、<br>
                お肉の表面に塩胡椒を少量振り掛ける
              </p>
            </div><!-- /.left -->
            <div class="right">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/how-to_img02.png" alt=""></div>
            </div><!-- /.right -->
          </div>
          <div class="bar"><span class="active"></span><span class="active"></span><span></span><span></span><span></span></div>
        </div><!-- .block -->

        <div class="block s03 fadeIn">
          <div class="flex">
            <div class="left">
              <p class="sub-ttl">STEP 03</p>
              <h3>焼く準備、焼き始め</h3>
              <p class="txt">
                フライパンに油を引き、中火で温め、塩胡椒を振りかけた面から焼き始める
              </p>
            </div><!-- /.left -->
            <div class="right">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/how-to_img03.png" alt=""></div>
            </div><!-- /.right -->
          </div>
          <div class="bar"><span class="active"></span><span class="active"></span><span class="active"></span><span></span><span></span></div>
        </div><!-- .block -->

        <div class="block s04 fadeIn">
          <div class="flex">
            <div class="left">
              <p class="sub-ttl">STEP 04</p>
              <h3>焼く</h3>
              <p class="txt">
                お好みの焼き加減で仕上げる<br>
                (レア〜ミディアムレアの場合は強火で表面に焼き色がしっかり付くまで焼き、裏面は中火で軽く焼き上げる)<br>
                (ミディアム〜ウェルダンの場合は弱火でしっかり両面を焼き上げる)
              </p>
            </div><!-- /.left -->
            <div class="right">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/how-to_img04.png" alt=""></div>
            </div><!-- /.right -->
          </div>
          <div class="bar"><span class="active"></span><span class="active"></span><span class="active"></span><span></span><span></span></div>
        </div><!-- .block -->

        <div class="block s05 fadeIn">
          <div class="flex">
            <div class="left">
              <p class="sub-ttl">STEP 05</p>
              <h3>お肉を楽しむ</h3>
              <p class="txt">
                食べやすい一口サイズにカットしてお召し上がりください。
              </p>
            </div><!-- /.left -->
            <div class="right">
              <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/how-to_img05.png" alt=""></div>
            </div><!-- /.right -->
          </div>
          <div class="bar"><span class="active"></span><span class="active"></span><span class="active"></span><span class="active"></span><span class="active"></span></div>
        </div><!-- .block -->

      </div><!-- /.main-contents -->

      <aside>
        <div class="step-list">
          <div class="box step01">01</div>
          <div class="box step02">02</div>
          <div class="box step03">03</div>
          <div class="box step04">04</div>
          <div class="box step05">05</div>
        </div>
      </aside>

    </div><!-- /.contents -->

  </div><!-- /.inner -->
</section><!-- /.p-howto_wrap01 -->

<div class="under-common_wrap layer">

  <div class="block about">
    <div class="inner">
      <div class="head-ttl">
        <p class="sub-ttl anime-ttl01">ABOUT STEAK HAN’S</p>
        <h2>ステーキHAN’Sのこだわり</h2>
      </div>
      <div class="btn-wrap">
        <a href="/pages/about/" class="btn01">VIEW DETAIL</a>
      </div>
    </div><!-- /.inner -->
  </div><!-- /.block -->

  <div class="block lineup">
    <div class="inner">
      <div class="head-ttl">
        <p class="sub-ttl anime-ttl01">LINE UP</p>
        <h2>全ての商品を見る</h2>
      </div>
      <div class="btn-wrap">
        <a href="/collections/all/" class="btn01">VIEW ALL</a>
      </div>
    </div><!-- /.inner -->
  </div><!-- /.block -->

</div><!-- /.under-common_wrap -->