<div class="under-mv">
  <div class="img-box obj-fit">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0887/4564/0257/files/under-mv.jpg" alt="">
    </picture>
  </div>
  <div class="mv-ttl">
    <p class="big-ttl">CONTACT</p>
    <h1>お問い合わせ</h1>
  </div>
</div><!-- /.under-mv -->

<section class="p-contact_wrap01 layer">
  <div class="inner">

    <p class="message">
      お問い合わせは、下記お電話またはメールフォームにて承ります。<br>
      また、お客さまからよく寄せられる質問とその回答を、<a href="/pages/faq/">「よくあるご質問」ページ</a>にまとめておりますので、ぜひご覧ください。
    </p>

    <div class="contact-tel">
      <p>お電話から</p>
      <a href="tel:0989175070">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M32.4624 23.2094L24.6626 19.7143L24.641 19.7043C24.2361 19.5311 23.7944 19.4616 23.3559 19.5021C22.9173 19.5426 22.4958 19.6918 22.1294 19.9361C22.0862 19.9646 22.0448 19.9956 22.0052 20.0288L17.9753 23.4644C15.4223 22.2243 12.7864 19.6083 11.5463 17.0884L14.9868 12.9972C15.0199 12.9558 15.0514 12.9144 15.0812 12.8697C15.3203 12.5043 15.4654 12.0854 15.5035 11.6504C15.5417 11.2154 15.4717 10.7777 15.2997 10.3763V10.3564L11.7947 2.54325C11.5674 2.01884 11.1767 1.58199 10.6807 1.29791C10.1848 1.01384 9.61027 0.897771 9.04295 0.967043C6.79947 1.26226 4.74016 2.36405 3.24965 4.06663C1.75913 5.7692 0.939349 7.95613 0.943405 10.219C0.943405 23.365 11.639 34.0607 24.7851 34.0607C27.0479 34.0648 29.2348 33.245 30.9374 31.7545C32.64 30.2639 33.7418 28.2046 34.037 25.9611C34.1064 25.394 33.9906 24.8196 33.7068 24.3237C33.423 23.8278 32.9865 23.4369 32.4624 23.2094ZM24.7851 31.4116C19.1663 31.4055 13.7795 29.1707 9.80643 25.1977C5.83337 21.2246 3.59862 15.8377 3.59248 10.219C3.58625 8.60218 4.16874 7.0384 5.23116 5.81968C6.29358 4.60095 7.76329 3.81061 9.36581 3.59626C9.36516 3.60286 9.36516 3.60952 9.36581 3.61613L12.8427 11.3978L9.42045 15.4939C9.38571 15.5339 9.35416 15.5765 9.32607 15.6214C9.07692 16.0038 8.93076 16.444 8.90175 16.8994C8.87274 17.3548 8.96187 17.81 9.16051 18.2208C10.6605 21.2888 13.7517 24.3568 16.8528 25.8552C17.2666 26.0519 17.7244 26.138 18.1815 26.1049C18.6386 26.0718 19.0792 25.9207 19.4604 25.6664C19.503 25.6378 19.5439 25.6068 19.583 25.5737L23.6079 22.1398L31.3896 25.625H31.4078C31.196 27.2298 30.4069 28.7025 29.1879 29.7675C27.969 30.8326 26.4038 31.4171 24.7851 31.4116Z" fill="#FF9800"/>
        </svg>
        098-917-5070
      </a>
      <p class="business-hours">営業時間｜10:00~18:00（電話受付時間）</p>
    </div>

    <h3>メールフォームから</h3>
    <div class="form_wrap">
      {% section 'contact-form' %}
    </div>

  </div><!-- /.inner -->
</section><!-- /.p-faq_wrap01 -->